-@ val editionWithRaces: com.chicagof1.model.EditionWithRaces
- val edition = editionWithRaces.edition
- attributes("title") = s"Edition ${edition.printId}"
- attributes("titleName") = s"Edition ${edition.printId}"
- attributes("source") = "/data/editions/" + edition.date

h1= s"Edition ${edition.printId}"
#content
- render("racer-results.jade")

h2 Individual Races
ul(class='list-unstyled')
  - for(r <- editionWithRaces.races) {
    li
      .race
        a(href='/races/#{r.raceId}')= r.raceId
  - }

- render("analytics.ssp")