-@ val editionWithRaces: com.chicagof1.model.EditionWithRaces
- val edition = editionWithRaces.edition
- attributes("title") = s"Edition ${edition.printId}"
- attributes("titleName") = s"Edition ${edition.printId}"
- attributes("source") = "/api/editions/" + edition.date

h1(class='pageTitle')= s"Edition ${edition.printId}"
#content
- render("racer-results.jade")

- if(editionWithRaces.races.size > 0) {
h2 Individual Races
ul(class='list-unstyled floating')
  - for(r <- editionWithRaces.races) {
    li
      .race
        a(href='/races/#{r.raceId}')= r.raceId
  - }
- }
.clear

- render("fb-comments.ssp")
- render("analytics.ssp")